<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <span class="title pad-left-right">Movies</span>
      </div>
      <div class="row">
        <div class="input-group pull-left pad-left-right col-xs-7">
          
          <!-- Add the search box input field here -->
          <input class="form-control"
          placeholder="Enter Search value"
          #searchBox
          (keypress)="onKeyPress(searchBox.value)">

  
          <div class="glyphicon glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
        </div>
        <div class="pull-right pad-left-right">
          <a class="btn btn-success" [routerLink]="['new']">New Movies</a>
        </div>
      </div>
    </div>  
    <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <cms-movie-item
              *ngFor="let movieEl of movies | moviesFilter:[term]"
              [movie]="movieEl"
              dnd-draggable [dragEnabled]="true" [dragData]="movieEl" [dropZones]="['movieGroup']">
            </cms-movie-item>
          </div>
        </div>
    </div>
  </div>
</div>

 
      

  
  
